openapi: 3.0.3
info:
  title: 频道机器人 API 文档
  description: 频道机器人 API 文档
  termsOfService: https://bot.q.qq.com/wiki/
  version: v1
servers:
  - url: https://api.sgroup.qq.com/
    description: 正式环境
  - url: https://sandbox.api.sgroup.qq.com/
    description: 沙箱环境
tags:
  - name: user
    description: 用户接口
  - name: guilds
    description: 频道接口
  - name: channels
    description: 子频道接口
  - name: channel_permissions
    description: 子频道权限接口
  - name: members
    description: 成员接口
  - name: roles
    description: 身份组接口
  - name: messages
    description: 消息接口
  - name: direct_messages
    description: 私信接口
  - name: mute
    description: 禁言接口
  - name: announcements
    description: 公告接口
  - name: schedules
    description: 日程接口
  - name: audios
    description: 音频接口
  - name: api_permissions
    description: 接口权限接口
  - name: websocket
    description: Websocket 接口
security:
  - bot_auth: []
paths:
  /users/@me:
    get:
      tags:
        - user
      summary: 获取当前用户详情
      description: 获取当前用户详情
      operationId: get_at_me
      responses:
        default:
          description: User 对象
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'

# objects defined             
components:
  schemas:
    User:
      type: object
      properties:
        id:
          type: string
          description: 用户 id
          format: int64
        username:
          type: string
          description: 用户名
        avatar:
          type: string
          description: 头像地址
        bot:
          type: boolean
          description: 是否是机器人
        union_openid:
          type: string
          description: 特殊关联应用的 openid，需要特殊申请并配置后才会返回。如需申请，请联系平台运营人员。
        union_user_account:
          type: string
          description: 机器人关联的互联应用的用户信息，与union_openid关联的应用是同一个。如需申请，请联系平台运营人员。
  securitySchemes:
    bot_auth:
      description: 机器人 API 鉴权，格式为 `Bot {appID}.{appToken}`
      type: apiKey
      name: Authorization
      in: header

